*{
    font-family: 'Sora', sans-serif;
}


.ancora{
    text-decoration: none;
    color: rgb(43, 43, 43);
    padding: 0.57% 3.3%;
    border-radius: 5px;
}

.ancora:hover{
    background-color: #9f776c;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.15);
}