:root{
    --cor-primaria: #E3876D;
    --cor-secundaria:#7D716E;
    --cor-terciaria: #B08478;   
    --cor-quaternaria: #4A3A35;
    --cor-quinta: #33130A;
}

*{
    font-family: 'Sora', sans-serif;
}

.uiBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    background-color: var(--cor-quaternaria);
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;

}

.iconeTitulo{
    color: white;
    scale: 4;
}

.titulo{
    font-size: 20px;
    color: white;
}

.formPesquisa{
    display: flex;
    box-shadow: 0 0 25px 15px rgba(0, 0, 0, 0.15);
}

.iconePesquisa{
    height: 20px;
}

.inputPesquisa{
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 24px;
    width: 20rem;
    border: 5px 0 0 5px;
    outline: none;
    color: rgb(43, 43, 43);
    background-color: white;
    padding-left: 20px;
}

.botaoPesquisa{
    display: flex;
    padding-top: 3.5px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 36px;
    border: 1px solid black;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
}

.iconesUi{
    display: flex;
    gap: 35px;
}

.iconeUi{
    scale: 2;
    color: white;
}

.header{
    height: 5vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--cor-terciaria);
    box-shadow: 0 10px 15px rgba(26, 26, 26, 0.15);
    z-index: 1;
    display: flex;
    justify-content: center;
}

.headerButtons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.main{
    height: 95vh;
    width: 100%;
    background-color: var(--cor-secundaria);
}

